<tr id="subject_<%= subject.id %>">
  <td><%= link_to subject.title, subject %></td>
  <td><%= subject.description %></td>
  <td><%= subject.status %></td>
  <div class="btn-group">
    <td><%= link_to 'Edit', edit_subject_path(subject), remote: true, class: 'btn btn-warning btn-sm' %></td>
    <td><%= link_to 'Delete', subject, method: :delete, data: { confirm: "Delete: \'#{subject.title}\' - Are you sure you want to delete this record?", remote: true }, class: 'btn btn-danger btn-sm delete' %></td>
  </div>
</tr>
